
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  
  background-color: #fefae0;
  font-family:  'Trebuchet MS';
}

.custom-navbar {
  background-color: #606c38;
  height: 80x;
}

.logo{
  height: 80px;
  width: 80px;
  background-color: transparent;
  margin: auto;
}

/*BANNER*/

.banner {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 200px;
  margin-left: -400px;
  padding-bottom: 300px;
  
}

.banner-cof{
  margin-bottom: 50px;
}


.banner-text {
  font-size: x-large;
  margin: auto;
  line-height: 0.8cm;
  color: #606c38;
  

  
}

.banner-name {
  font-size: 60px;
  font-weight: bolder;
  color: #bc6c25;
  
}

.banner-desc{
  font-size: 40px;
  font-weight: bolder;
  color: #dda15e;
  margin-bottom: 30px;
}

.banner-button {
  
  border: 2px solid #dda15e;
  border-radius: 5px;
  color: #dda15e;
  padding: 10px 20px;
  transition: background-color 0.2s;
  
  
}

.banner-button:hover {
  background-color: #606c38; /* Change the background color on hover */
  color: #fefae0;
  border: 2px solid #606c38;
  cursor: pointer; /* Change the cursor to a pointer on hover */

}


/*ABOUT ME*/


.about-me {
  background-color: #606c38 !important;;
  margin: auto;
  line-height: 0.8cm;
  padding: 30px;
  color: #fefae0;
  padding-bottom: 90px;
  
}


.about-me-title {
 

  text-decoration: underline;
  text-decoration-color: #9c5b1f;
  background-color: transparent;
  margin: auto;
  width: 80px;
  font-size: xx-large;
  padding: 10px;
 
}


.about-me-text {
  max-width: 750px;
  background-color: transparent;
  margin-left: 170px;
  padding: 30px;
  
 
}

.image-background {
  width: 50%;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.about-me-image {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
  background-color: transparent;
}


.about-me {
  display: flex;
  flex-direction: column;

  /* Add media queries to adjust layout at different window sizes */
}

@media (min-width: 640px) {
  .about-me{
  flex-direction: row;
  }
}

.about-me-image:hover {
  transform: scale(1.1);
  cursor: pointer;
  
}


/*SKILLS*/

.skills-section  {
  background-color: transparent;
  padding: 30px;
  color: #283618;
  padding-bottom: 90px;
  
  }

.skills-title{
  text-decoration: underline;
  text-decoration-color: #9c5b1f;
  background-color: transparent;
  margin: auto;
  width: 80px;
  font-size: xx-large;
  padding: 10px;
  color: #283618;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  margin: auto;
  padding: 30px;
  max-width: 850px;
  
}

.skill-box {
  display: flex;
  flex-Direction: column;
  align-Items: center;
  justify-Content: center;
  width: 150px;
  height: 150px;
  font-Size: 20px;
  border-Radius: 5px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
  
}

.skill-name {
  margin-top: 0.5rem;
  text-align: center;
}

.skill-box:hover {
  background-color: #9c5b1f; 
  transform: scale(1.1);
  cursor: pointer; 
  color:#fefae0;
}

.skill-icon {
  background-color: transparent;
  
}

.skills-section div {
background-color: transparent;
padding: 30px;
}

.skills-section p {
background-color: transparent;
}

@media (max-width: 768px) {
  .skill-box {
    width: 25%;
  }
}

@media (max-width: 576px) {
  .skill-box {
    width: 33.33%;
  }
}


/*WORK*/

.title-and-tabs{
background-color:#606c38 ;
padding: 30px;
color:#fefae0;

}

.work-title{
  text-decoration: underline;
  text-decoration-color: #9c5b1f;
  background-color: transparent;
  margin: auto;
  
  font-size: xx-large;
  padding: 10px;
}

.tab-system {
  display: flex;
  background-color: transparent;
  border-left: #000000 ;
  
}

.tab-titles {
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 660px;
  margin-left: 170px;
  padding: 30px;
  transition: background-color 0.2s;
  
  
}

.tab-titles button {
  background-color: transparent;
  color: #fefae0;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  padding: 10px 20px;
  width: 180px;  /* Adjust as needed */
  height: 70px;
  border-radius: 20px;
  transition: background-color 0.2s;
  text-align: left;

 
}
/*
.line{
  content: "";
  height: 345px;
  position: relative;
  width: 2px;
  background-color: #283618;
  left: -982px;
  top: 35px;
}
*/



.tab-titles button.active {
  background-color: transparent;
  color: #fefae0;
  text-decoration: underline;
  text-decoration-color: #9c5b1f;
  text-decoration-thickness: 3px;
  
  transition: background-color 0.2s;
  font-weight: bolder;
}

.tab-titles button:hover,
.tab-titles button:active {
  background-color: #9c5b1f;
  text-decoration: underline;
  text-decoration-color: #606c38;
  text-decoration-thickness: 3px;
  color: #fefae0;
 
  transition: background-color 0.2s;
}

.tab-description{
  background-color: transparent;
  max-width: 700px;
  margin-left: 80px;
  padding: 30px;
}

.description p {
  background-color: #606c38;
  
}

.space {
  background-color: #606c38;
  color: #606c38;
}

.title{
  font-size: 25px;
  font-weight: bolder;
  color: #dda15e;
}

/*SOCIAL*/

.social-icons {
  position: fixed;
  left: 0;
  top: 65%;
  list-style: none;
  margin-left: 60px;
  padding: 0;
  background-color: transparent;
}

.social-icon {
  display: block;
  margin-bottom: 8px;
  background-color: transparent;
  color: #283618;
}

.social-icon a {
  display: block;
  height: 40px;
  background-size: cover;
  background-color: transparent;
  
}


.social-icons::after {
  content: "";
  position: absolute;
  height: 140px;
  width: 2px;
  background-color: #283618;
  margin-left: 10px;
  
}

.social-icon:hover {
  transition: color 0.2s;
  color: #dda15e;
}

/*PORTFOLIO*/

.portfolio-section  {
  background-color: transparent;
  padding: 30px;
  color: #283618;
  padding-bottom: 90px;
  
  }


  .portfolio-title{
    text-decoration: underline;
    text-decoration-color: #9c5b1f;
    background-color: transparent;
    margin: auto;
    width: 80px;
    font-size: xx-large;
    padding: 10px;
    color: #283618;
  }
  
  .portfolio-box{
    display: flex;
    flex-Direction: column;
    align-Items: center;
    justify-Content: center;
    padding: 30px;
    margin: auto;
  }

  .portfolio-cont {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    width: 1070px;
    padding-left: 60px;
    
  }
/*
  .items {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border: 2px solid #283618;
    border-radius: 0.25rem;
    }
    */

    .items {
      display: inline-block;
      padding: 0 5px;
      padding: 5px;
      font-weight: 600;
      border-width: 2px;
      border-style: solid;
      border-color: #283618;
      border-radius: 5px;
      transition: background-color 0.2s;
      }


    .items:hover {
      transition: background-color 0.2s;
      background-color: #9c5b1f; /* Change the background color on hover */
      color: #fefae0;
      border: 2px solid #9c5b1f;
      cursor: pointer;
      }

    .port-container{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 0.9em;
      
      }

      @media (min-width: 640px) {
        .port-container{
        font-size: 0.9em;
        }
      }
    
 
      
      

  .linkgit{
    float: right;
    color: #283618;
  
  }

  .linkgit:hover{
    float: right;
    color: #9c5b1f;
  
  }
  
  @media (min-width: 768px) {
    .portfolio-cont {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 992px) {
    .portfolio-cont {
      grid-template-columns: repeat(3, 1fr);
    }
  }



/*CONTACT*/
  .contact-section {
    background-color: #606c38;;
    padding: 60px;
    color: #fefae0;
    padding-bottom: 150px;
    
  
  }
  .contact-section p {
    margin:auto;
    position: relative;
    left: 30px;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    max-width: 690px;
  }
  
  .contact.intro{
    font-size: larger;
  
  }
  
  .contact-title{
  
    text-decoration: underline;
    text-decoration-color: #9c5b1f;
    background-color: transparent;
    margin: auto;
    width: 80px;
    font-size: xx-large;
    padding: 10px;
    color: #fefae0;
  }
  
  .contact-button {
    background-color: transparent;
    border: 2px solid #fefae0;
    border-radius: 5px;
    color: #fefae0;
    padding: 10px 20px;
    transition: background-color 0.2s;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 10%;
    text-align: center; /* centers the button within its parent element */
    left: 25px;
    
    
    
  }
  
  
  .contact-thank{
    font-size: larger;
    font-weight: bolder;
    color: #dda15e;
  }
  .contact-button:hover {
    background-color: #9c5b1f; /* Change the background color on hover */
    color: #fefae0;
    border: 2px solid #9c5b1f;
    cursor: pointer; /* Change the cursor to a pointer on hover */
  
  }

  /*FOOTER*/

  .footer {
    background-color: #9c5b1f;
    color: #fefae0;
    padding: 1rem;
    text-align: center;
  }

  .footer P {
    background-color: transparent;
    color: #fefae0;
    padding: 1rem;
    text-align: center;
  }


/*COFFEE*/

.container {
  width: 300px;
  height: 280px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - -250px);
  background-color: transparent;
}



.coffee-header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddcfcc;
  border-radius: 10px;
}
.coffee-header__buttons {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  background-color: #282323;
  border-radius: 50%;
}
.coffee-header__buttons::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 4px);
  background-color: #615e5e;
}
.coffee-header__button-one {
  left: 15px;
}
.coffee-header__button-two {
  left: 50px;
}
.coffee-header__display {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: 50%;
  background-color: #606c38;
  border: 5px solid #283618;
  box-sizing: border-box;
}
.coffee-header__details {
  width: 8px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9b9091;
  box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
}
.coffee-medium {
  width: 90%;
  height: 160px;
  position: absolute;
  top: 80px;
  left: calc(50% - 45%);
  background-color: #bcb0af;
}
.coffee-medium:before {
  content: "";
  width: 90%;
  height: 100px;
  background-color: #776f6e;
  position: absolute;
  bottom: 0;
  left: calc(50% - 45%);
  border-radius: 20px 20px 0 0;
}
.coffe-medium__exit {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  background-color: #231f20;
}
.coffe-medium__exit::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  background-color: #231f20;
}
.coffe-medium__exit::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  background-color: #231f20;
}
.coffee-medium__arm {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: #231f20;
}
.coffee-medium__arm::before {
  content: "";
  width: 15px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #9e9495;
}
.coffee-medium__cup {
  width: 80px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  background-color: #fefae0;
  border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.coffee-medium__cup::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: -13px;
  border: 5px solid #fefae0;
  border-radius: 50%;
}
@keyframes liquid {
  0% {
    height: 0px;  
    opacity: 1;
  }
  5% {
    height: 0px;  
    opacity: 1;
  }
  20% {
    height: 62px;  
    opacity: 1;
  }
  95% {
    height: 62px;
    opacity: 1;
  }
  100% {
    height: 62px;
    opacity: 0;
  }
}
.coffee-medium__liquid {
  width: 6px;
  height: 63px;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: calc(50% - 3px);
  background-color: #74372b;
  animation: liquid 4s 4s linear infinite;
}
.coffee-medium__smoke {
  width: 8px;
  height: 20px;
  position: absolute;  
  border-radius: 5px;
  background-color: #b3aeae;
}
@keyframes smokeOne {
  0% {
    bottom: 20px;
    opacity: 0;
  }
  40% {
    bottom: 50px;
    opacity: .5;
  }
  80% {
    bottom: 80px;
    opacity: .3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
@keyframes smokeTwo {
  0% {
    bottom: 40px;
    opacity: 0;
  }
  40% {
    bottom: 70px;
    opacity: .5;
  }
  80% {
    bottom: 80px;
    opacity: .3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
.coffee-medium__smoke-one {
  opacity: 0;
  bottom: 50px;
  left: 102px;
  animation: smokeOne 3s 4s linear infinite;
}
.coffee-medium__smoke-two {
  opacity: 0;
  bottom: 70px;
  left: 118px;
  animation: smokeTwo 3s 5s linear infinite;
}
.coffee-medium__smoke-three {
  opacity: 0;
  bottom: 65px;
  right: 118px;
  animation: smokeTwo 3s 6s linear infinite;
}
.coffee-medium__smoke-for {
  opacity: 0;
  bottom: 50px;
  right: 102px;
  animation: smokeOne 3s 5s linear infinite;
}
.coffee-footer {
  width: 95%;
  height: 15px;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 47.5%);
  background-color: #606c38;
  border-radius: 10px;
}
.coffee-footer::after {
  content: "";
  width: 106%;
  height: 26px;
  position: absolute;
  bottom: -25px;
  left: -8px;
  background-color: #000;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*SMALLER WINDOWN*/


@media (max-width: 1100px) {
  .banner {
    margin-left: 0;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 300px; 
  }

  .banner-text {
    font-size: large;
  }

  .banner-name {
    font-size: 40px;
  }

  .banner-desc {
    font-size: 30px;
  }
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*PHONE MEDIA*/

/*BANNER*/

@media (max-width: 750px) {
  .banner {
    margin-top: 100px;
    margin-left: 0;
    text-align: center;   
    display: flex;
 
  }

  .banner-text {
    font-size: large;
  }

  .banner-name {
    font-size: 40px;
    line-height: 50px;
  }

  .banner-desc {
    font-size: 30px;
  }
}

/*COFFEE GIF*/

@media only screen and (max-width: 1100px) {
  /* Add your styles here */
  .container {
    /* Make the width and height of the container smaller */
    /* Change the position of the container to be below the banner text */
    position: relative;
    top: auto;
    left: auto;
    margin-top: 20px;
   
  }
}



/*SOCIALS*/
@media (max-width: 768px) {
  .social-icons::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 2px;
    background-color: #283618;
    margin-left: 10px;
  }
    .social-icon a {
      display: block;
      height: 25px;
      background-size: cover;
      background-color: transparent;
      
      
      
    }

    .social-icons { 
      top: 80%;
      
      margin-left: 30px;
      
    }
    
  
}






